
<div class="row">
  <div class="adminPanel col-8">
      <div class="row">
          <span class="col 1"> #</span>
          <span class="col 4" (click)="onTitleClick($event)" data-cat="title"> TITLE</span>
          <span class="col 2" (click)="onTitleClick($event)" data-cat="date"> DATE</span>
          <span class="col 2" (click)="onTitleClick($event)" data-cat="author"> AUTHOR</span>

      </div>
      <app-admin-prev  (click)="postClick" *ngFor="let post of filteredPosts; index as i" [myIndex]='i' [post]='post'
      ></app-admin-prev>
  </div>
  <div class="sidebar col-4">
    <app-sidebar [tags]="uniqueTagArr"  [authors]="uniqueAuthorArr"
    [counterArr]="tagCounter" [linkDest]="linkDest"></app-sidebar>
  </div>

</div>